################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureDevOps-CI/.history
/AzureDevOps-CI/bin
/AzureDevOps-CI/obj
