################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureDevOps-CI/obj
/.vs
/AzureDevOps-CI/bin/Debug/netcoreapp2.2
